.small-12.medium-6.large-4.columns
  %ul.pricing-table.post
    %li.title
      #{post.name}
    %li.bullet-item
      = image_tag post.picture
    %li.description
      #{post.description}
    %li.bullet-item
      #{post.message}
